.root {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  max-width: 1200px;
  background-color: #0a2640;
  margin:auto;
}

.content{
  max-width: 1200px;
}
