
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&family=Open+Sans:wght@300;400;500;600&display=swap');
@import url(../vendor/normalize.css);
@import url(../blocks/root.css);
@import url(../blocks/button/button.css);
@import url(../blocks/card/card.css);
@import url(../blocks/header/header.css);
@import url(../blocks/graphics/graphics.css);
@import url(../blocks/footer/footer.css);


